@media screen and (min-width: 901px){
    .Nav__view{
        box-sizing: border-box;
        height: 100vh;
        display: flex;
        justify-content: center;
        gap: 20px;
        background-color: #1c1d1d;
    }   
}
@media screen and (max-width: 900px){
    .Nav__view{
        box-sizing: border-box;
        height: 100vh;
        display: flex;
        justify-content: center;
        gap: 20px;
        background-color: #1c1d1d;
    }
}